@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2.5rem] font-bold leading-normal lg:text-4xl;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  textarea {
    @apply w-full rounded-md border border-gray-300 !p-1 hover:border-gray-600 focus:border-2 focus:border-primary focus:outline-none;
  }

  textarea.error {
    @apply border-red-500 focus:border-red-500;
  }
}

@layer components {
  .bukutamu-container {
    @apply bg-slate-600/20;
    @apply rounded-lg border-4 border-slate-200;
    @apply p-4;
    @apply backdrop-blur backdrop-filter;
  }

  .form-title {
    @apply mb-2 text-lg font-semibold text-primary;
  }

  .form-container {
    @apply flex flex-col gap-4;
  }
}

@layer utilities {
  .position-center {
    @apply left-1/2 right-0 -translate-x-1/2 transform;
  }

  .position-middle {
    @apply bottom-0 left-1/2 right-0 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #html5-qrcode-select-camera {
    @apply rounded-md p-2;
    @apply my-2;
  }

  #html5-qrcode-button-camera-start,
  #html5-qrcode-button-camera-permission {
    @apply bg-primary hover:bg-primary-dark;
    @apply rounded-md p-[5px] px-4;
    @apply text-white;
  }

  #html5-qrcode-button-camera-stop {
    @apply bg-error hover:bg-error-dark;
    @apply rounded-md p-[5px] px-4;
    @apply text-white;
  }
}

.slider-control-centerleft {
  height: 100%;
}
.slider-control-centerright {
  height: 100%;
}

.yarl__carousel.yarl__carousel_with_slides .yarl__slide_image {
  width: 100% !important;
  max-width: none !important;
  max-height: 100% !important;
}

.tox.tox-tinymce {
  @apply border-zinc-200 !important;
}

.tox-promotion {
  display: none;
}
